.fifthSectionWrapper {
  width: 100%;
  height: 500px;
  background: rgba(0, 128, 0, 0.65);
  .elWrapper {
    .el {
      width: 50%;
      height: 50px;
      background: aqua;
    }
    .dropDown {

    }
  }
}