@import "../../scss/templates";
@import "../../scss/variables";

.secondSectionWrapper {
  display: flex;
  padding: $commonPadding1;

  .aboutUsWrapper {
    .aboutUsPart1 {
      .aboutUs {
        @extend %h3common;
      }

      .aboutUsP1Style {
        @extend %PCommon;
      }
    }

    .aboutUsPart2 {
      position: relative;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 570px;
      padding: 0 63px;
      height: 160px;
      background: url("../../images/secondSection/img2.png") 0 0 / auto 100% no-repeat, url("../../images/secondSection/img3.png") 0 0 / 100% 100% no-repeat;

      .aboutUsP2Style {
        font-family: "Rubik-Regular", sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: rgba(64, 43, 43, 1);
      }
    }
  }

  div .secondSectionImg {
    max-width: 575px;
    max-height: 480px;
  }
}

@media screen and (max-width: 1280px) {
  .secondSectionWrapper {
    padding: $commonPadding2;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .aboutUsWrapper .aboutUsPart1 {
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .secondSectionWrapper {
    padding: $commonPadding3;
    .aboutUsWrapper .aboutUsPart2 {
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .secondSectionWrapper {
    padding: $commonPadding4;
    padding-bottom: 0;

    .aboutUsWrapper {
      .aboutUsPart1 .aboutUsP1Style {
        font-size: 12px;
        line-height: 20px;
      }

      .aboutUsPart2 {
        max-width: 100%;
        height: max-content;

        .aboutUsP2Style {
          position: static;
          font-size: 18px;
          line-height: 25px;
        }
      }
    }

    .aboutUsWrapper {
      max-width: 100%;
    }

    & div .secondSectionImg {
      max-width: 100%;
    }
  }
}