@import "../../scss/templates";

.headerLinksWrapper {
  .headerLink {
    margin-right: 100px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .btnContactUs {
    width: 158px;
    @extend %btnCommon;
  }
}

@media screen and (max-width: 1280px) {
  .headerLinksWrapper {
    .headerLink {
      margin-right: 50px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .headerLinksWrapper {
    display: none;
  }
}

