@import "../../../scss/templates";

.headerLinksWrapper {
  .headerLink {
    margin-right: 100px;
    transition: .3s;

    &:hover {
      color: #EE4D47;
      transition: .3s;
      text-shadow: -1px -1px 1px white;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .btnContactUs {
    width: 158px;
    @extend %btnCommon;
  }
}

@media screen and (max-width: 1280px) {
  .headerLinksWrapper {
    .headerLink {
      margin-right: 50px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .headerLinksWrapper {
    display: none;
  }
}

