* {
    box-sizing: border-box;
}

@font-face {
    font-family: "DM Serif Display";
    src: url("fonts/DMSerifDisplay-Regular.ttf");
}

@font-face {
    font-family: "Rubik-Regular";
    src: url("fonts/Rubik-Regular.ttf");
}

@font-face {
    font-family: "Rubik-Bold";
    src: url("fonts/Rubik-Bold.ttf");
}

body {
    font-family: 'DM Serif Display', serif;
    overflow-x: hidden;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
    margin-top: 50px;
}

.app {
    width: 100%;
    background: #fcf7f4;
    overflow-x: hidden;
}

a {
    font-family: 'Rubik', sans-serif;;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: Bold;
    font-size: 16px;
    line-height: 19px;
}

button {
    color: #FFFFFF;
    font-weight: Bold;
    font-size: 16px;
    line-height: 19px;
}

@media screen and (max-width: 1280px) {
    h1 {
        font-size: 80px;
        line-height: 80px;
        color: #FFFFFF;
        margin-top: 50px;
    }
}
