@import "variables";
%btnCommon {
  background: rgba(238, 77, 71, 1);
  height: 60px;
  border: 0;
  border-radius: 5px;
  margin-left: 74px;
  transition: $hoverTransition-0-3s;
  &:hover {
    transition: $hoverTransition-0-3s;
    transform: scale(1.02);
    color: rgba(238, 77, 71, 1);
    background: #ffffff;
    border: 1px solid rgba(238, 77, 71, 1);
  }
}

%h3common {
  font-family: "Rubik-Bold", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 3px;
  color: #EE4D47;
}
%PCommon {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  color: rgba(64, 43, 43, 1);
}
%minusStyle {
  .minusWrapper {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .minus {
      width: 20px;
      height: 2.5px;
      background: #EE4D47;
    }
  }
}

%plusStyle {
  .plusWrapper {
    width: 20px;
    height: 20px;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;

    .plus1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 2.5px;
      background: #EE4D47;
    }

    .plus2 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background: #EE4D47;
      transform: translateX(-50%) rotate(90deg);
    }
  }
}