.sliderWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .sliderBtnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .usersWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}